[run]
branch = True
data_file = .coverage
source=completion_aggregation
omit =
    compat.py
    test_settings
    */migrations/*
    *admin.py
    */static/*
    */templates/*
    */tests/*
    */settings/*
