language: python
python:
- 2.7
- 3.5
env:
- TOXENV=django111
matrix:
  include:
  - python: 3.5
    env: TOXENV=quality
  - python: 3.5
    env: TOXENV=docs
  - python: 3.5
    env: TOXENV=django20
  - python: 2.7
    env: TOXENV=django18
cache:
- pip
before_install:
- pip install --upgrade pip
install:
- pip install -r requirements/travis.txt
script:
- tox
after_success:
- codecov
deploy:
  provider: pypi
  user: opencraft
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: "$TOXENV = quality"
  password:
    secure: ORVY2nKuisszn//sOaBQ4WY1dgutaaGi3iAhlVOHCLUhTSadMvCC/GYmpsa9Pho2P1mM7A6l2koB2U9Ficm6GnSgr/uL6JVofu4q8oLaWBrGWaGfQLwedqApPek7dLkYnhc4P916ncE0z8WBd0R6YcWZhDZ3Ue9oO+tFrKZEbr77qUbSN17SD3voZigFki/fZ3dtLfUExh7RHzb/OzOXHDU+GH9h3crDVuy4jtmJq5eoS9J9rzUujXpyfKWJzF+DXBAJxBfNmBMP5h7rU+hyWts0YCxDxjUYhdHZxlSwZ1tsdeowz3i4s8LO88S2Ijkp5in4TGnXvbwUbfUQO3ECbuhonaEmjukmEhsE0JYWvpyfTmnMS29P+IB5vB0PPh76rHbJBiuc8P+nFrp1R7lAmyrF5JmvkxQe7mcskSz3ed2GAYp0yp0EzROnBEK5QYKr2CPzuGld3FbDZHJqrVbRS6GmtjNBTUxRK6If3B1FMwrLbz/OJdzMGm30/NhW1+di6qMo5bXY3cu2009i+p4HywXIV+8MzD9Gt3bESxJa3UlyfeDUBcuGc1mk4jl4bSxaSmTclaOXJecLf9yk6RRzkEZVSYV2+VenqlEye8IbQ91qJIfOK835y0eycq/VfeKcGCJ5ssUrNv+DPpnKWjzt/Tst1xgGueyfC0tMyo5FLgM=
