[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==1.4.9"
anyjson = "==0.3.3"
appdirs = "==1.4.3"
argparse = "==1.4.0"
astroid = "==1.5.2"
billiard = "==3.3.0.23"
"caniusepython3" = "==7.0.0"
celery = "==3.1.18"
certifi = "==2018.4.16"
chardet = "==3.0.4"
click-log = "==0.1.8"
click = "==6.7"
distlib = "==0.2.7"
django-braces = "==1.13.0"
django-model-utils = "==3.1.2"
django-oauth-toolkit = "==0.12.0"
djangorestframework = "==3.6.4"
edx-celeryutils = "==0.1.5"
edx-completion = "==0.1.8"
"edx-i18n-tools" = "==0.4.7"
edx-lint = "==0.5.5"
edx-opaque-keys = {version = "==0.4.4", extras = ["django"]}
first = "==2.0.1"
fs = "==2.0.24"
idna = "==2.7"
inflect = "==0.3.1"
isort = "==4.3.4"
jsonfield = "==2.0.2"
kombu = "==3.0.37"
lazy-object-proxy = "==1.3.1"
lxml = "==4.2.3"
mccabe = "==0.6.1"
mysqlclient = "==1.3.13"
oauthlib = "==2.0.1"
pbr = "==4.1.0"
pip-tools = "==2.0.2"
pkginfo = "==1.4.2"
pluggy = "==0.6.0"
polib = "==1.1.0"
py = "==1.5.4"
pycodestyle = "==2.4.0"
pydocstyle = "==2.1.1"
pylint-celery = "==0.3"
pylint-django = "==0.7.2"
pylint-plugin-utils = "==0.4"
pylint = "==1.7.1"
pymongo = "==3.7.1"
pyparsing = "==2.2.0"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
requests-toolbelt = "==0.8.0"
requests = "==2.19.1"
six = "==1.11.0"
snowballstemmer = "==1.2.1"
stevedore = "==1.28.0"
tox-battery = "==0.2"
tox = "==3.1.2"
tqdm = "==4.23.4"
twine = "==1.11.0"
"urllib3" = "==1.23"
virtualenv = "==16.0.0"
web-fragments = "==0.2.2"
wrapt = "==1.10.11"
"backports.functools_lru_cache" = "==1.5"
diff_cover = "==1.0.4"
Django = "==1.10.8"
"jinja2_pluralize" = "==0.3.0"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
"path.py" = "==11.0.1"
Pygments = "==2.2.0"
PyYAML = "==3.13"
WebOb = "==1.8.2"
XBlock = "==1.2.2"

[dev-packages]
ipdb = "*"
pdbpp = "*"

[requires]
python_version = "3.5"
